---
- name: install python-related packages
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - python-dev
    - python-psycopg2

- name: get pip installer
  get_url:
    url: https://bootstrap.pypa.io/get-pip.py
    dest: /tmp/get-pip.py
    mode: 0644
    validate_certs: False

- name: install pip
  shell: python /tmp/get-pip.py

- name: cleanup files
  file:
    path: /tmp/get-pip.py
    state: absent

- name: install python2 packages
  pip:
    name: "{{ item }}"
    state: present
  with_items:
    - ldapdomaindump
    - pefile
    - pexpect
    - pluginbase
    - pyasn1
    - pycrypto
    - pyip
    - pymssql
    - pyopenssl
    - requests
    - virtualenv
    - python-magic

- name: install python3 packages
  pip:
    name: py2exe
    executable: pip3