---
- name: get msf installer
  become: yes
  become_user: '{{ ops_user }}'
  get_url:
    url: https://raw.githubusercontent.com/rapid7/metasploit-omnibus/master/config/templates/metasploit-framework-wrappers/msfupdate.erb
    dest: /tmp/msfinstall
    mode: 0755

- name: install metasploit framework
  become: yes
  become_user: '{{ ops_user }}'
  shell: ./msfinstall
  args:
    chdir: /tmp

- name: initialize msf
  become: yes
  become_user: '{{ ops_user }}'
  shell: echo 'yes' | msfconsole

- name: cleanup msf installer files
  file:
    path: /tmp/msfinstall
    state: absent

- name: get beef (requires `gem install bundler && bundle install`)
  git:
    repo: https://github.com/beefproject/beef
    dest: /opt/beef
    update: yes

- name: get ikeforce
  git:
    repo: https://github.com/SpiderLabs/ikeforce
    dest: /opt/ikeforce
    update: yes

- name: get impacket
  git:
    repo: https://github.com/CoreSecurity/impacket
    dest: /opt/impacket
    update: yes

- name: install impacket
  shell: python setup.py install
  args:
    chdir: /opt/impacket

- name: get responder
  git:
    repo: https://github.com/lgandx/Responder
    dest: /opt/responder
    update: yes

- name: get routersploit
  git:
    repo: https://github.com/reverse-shell/routersploit
    dest: /opt/routersploit
    update: yes

- name: install routersploit
  pip:
    requirements: requirements.txt
  args:
    chdir: /opt/routersploit

- name: get set
  git:
    repo: https://github.com/trustedsec/social-engineer-toolkit
    dest: /opt/set
    update: yes

- name: install set
  shell: python setup.py install
  args:
    chdir: /opt/set

- name: get sqlmap
  git:
    repo: https://github.com/sqlmapproject/sqlmap
    dest: /opt/sqlmap
    update: yes
